<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.revealing.howtose.dao.CommentWordMapper" >
  <resultMap id="BaseResultMap" type="cn.revealing.howtose.model.CommentWord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="word_id" property="wordId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="add_date" property="addDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comment_id, word_id, score, add_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment_word
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment_word
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.revealing.howtose.model.CommentWord" >
    insert into comment_word (id, comment_id, word_id, 
      score, add_date)
    values (#{id,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, #{wordId,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{addDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.revealing.howtose.model.CommentWord" >
    insert into comment_word
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="wordId != null" >
        word_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="addDate != null" >
        add_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="wordId != null" >
        #{wordId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="addDate != null" >
        #{addDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.revealing.howtose.model.CommentWord" >
    update comment_word
    <set >
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="wordId != null" >
        word_id = #{wordId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="addDate != null" >
        add_date = #{addDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.revealing.howtose.model.CommentWord" >
    update comment_word
    set comment_id = #{commentId,jdbcType=INTEGER},
      word_id = #{wordId,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      add_date = #{addDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByWordID" resultType="cn.revealing.howtose.model.CommentWord" >
    select
    <include refid="Base_Column_List" />
    from comment_word
    where word_id = #{wid,jdbcType=INTEGER}

    limit #{start}, #{limit}
  </select>

  <select id="getNoScoreComment" resultType="cn.revealing.howtose.model.CommentWord" >
    select
    <include refid="Base_Column_List" />
    from comment_word
    where score = NULL

    limit #{limit}
  </select>
</mapper>